Cockpit_NextGenMVC/Cockpit_NextGenMVC/Service References/BAL_User_Mgmt/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVW_USERS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VW_USERS" nillable="true" type="tns:VW_USERS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVW_USERS" nillable="true" type="tns:ArrayOfVW_USERS" />
  <xs:complexType name="VW_USERS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULLNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTLOGIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROFILE_PIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROLE_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SAP_User_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUPERREGION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEAM_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VW_USERS" nillable="true" type="tns:VW_USERS" />
  <xs:complexType name="ServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceException" nillable="true" type="tns:ServiceException" />
  <xs:complexType name="TBL_USERS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULLNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTLOGIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROFILE_PIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROLE_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SUBSCRIPTION_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SUPERREGION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEAM_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="USERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBL_USERS" nillable="true" type="tns:TBL_USERS" />
  <xs:complexType name="ArrayOfTbl_Unmapped_Users">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tbl_Unmapped_Users" nillable="true" type="tns:Tbl_Unmapped_Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbl_Unmapped_Users" nillable="true" type="tns:ArrayOfTbl_Unmapped_Users" />
  <xs:complexType name="Tbl_Unmapped_Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="Order_Count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REGION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalUser" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Total_NV" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="USERGROUP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tbl_Unmapped_Users" nillable="true" type="tns:Tbl_Unmapped_Users" />
  <xs:complexType name="ArrayOfTbl_Country_Sorg_Orig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tbl_Country_Sorg_Orig" nillable="true" type="tns:Tbl_Country_Sorg_Orig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbl_Country_Sorg_Orig" nillable="true" type="tns:ArrayOfTbl_Country_Sorg_Orig" />
  <xs:complexType name="Tbl_Country_Sorg_Orig">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sorg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tbl_Country_Sorg_Orig" nillable="true" type="tns:Tbl_Country_Sorg_Orig" />
  <xs:complexType name="ArrayOfTBL_TEAM_STRUCTURE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBL_TEAM_STRUCTURE" nillable="true" type="tns:TBL_TEAM_STRUCTURE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBL_TEAM_STRUCTURE" nillable="true" type="tns:ArrayOfTBL_TEAM_STRUCTURE" />
  <xs:complexType name="TBL_TEAM_STRUCTURE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BACKUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BACKUPFROM" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BACKUPTO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BACKUP_COMMENTS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUPERVISOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEAM_ID" type="xs:int" />
      <xs:element minOccurs="0" name="TEAM_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBL_TEAM_STRUCTURE" nillable="true" type="tns:TBL_TEAM_STRUCTURE" />
  <xs:complexType name="ArrayOfTBL_ROLE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBL_ROLE" nillable="true" type="tns:TBL_ROLE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBL_ROLE" nillable="true" type="tns:ArrayOfTBL_ROLE" />
  <xs:complexType name="TBL_ROLE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ROLE_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROLE_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBL_ROLE" nillable="true" type="tns:TBL_ROLE" />
  <xs:complexType name="ArrayOfTbl_Unmapped_Orders_By_Region_Function">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tbl_Unmapped_Orders_By_Region_Function" nillable="true" type="tns:Tbl_Unmapped_Orders_By_Region_Function" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbl_Unmapped_Orders_By_Region_Function" nillable="true" type="tns:ArrayOfTbl_Unmapped_Orders_By_Region_Function" />
  <xs:complexType name="Tbl_Unmapped_Orders_By_Region_Function">
    <xs:sequence>
      <xs:element minOccurs="0" name="ORDER_CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REGION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total_NV" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tbl_Unmapped_Orders_By_Region_Function" nillable="true" type="tns:Tbl_Unmapped_Orders_By_Region_Function" />
</xs:schema>