Cockpit_NextGenMVC/Cockpit_NextGenMVC/Service References/BAL_User_Mgmt/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BAL_Service_User_Mgmt/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" minOccurs="0" name="GetUserDetailsResult" nillable="true" type="q1:ArrayOfVW_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTeamDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTeamDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" minOccurs="0" name="GetUserTeamDetailsResult" nillable="true" type="q2:ArrayOfVW_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRegionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRegionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" minOccurs="0" name="GetUserRegionDetailsResult" nillable="true" type="q3:ArrayOfVW_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInActiveUserTeamDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInActiveUserTeamDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" minOccurs="0" name="GetInActiveUserTeamDetailsResult" nillable="true" type="q4:ArrayOfVW_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" minOccurs="0" name="oUser" nillable="true" type="q5:TBL_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterNewUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" minOccurs="0" name="oUser" nillable="true" type="q6:TBL_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" minOccurs="0" name="GetUsersByRegionResult" nillable="true" type="q7:ArrayOfVW_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnMappedUsersByRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnMappedUsersByRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" minOccurs="0" name="GetUnMappedUsersByRegionResult" nillable="true" type="q8:ArrayOfTbl_Unmapped_Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveDeactiveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" minOccurs="0" name="oUser" nillable="true" type="q9:TBL_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveDeactiveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveDeactiveUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryByRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryByRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" minOccurs="0" name="GetCountryByRegionResult" nillable="true" type="q10:ArrayOfTbl_Country_Sorg_Orig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerByTeamID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeamID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerByTeamIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" minOccurs="0" name="GetManagerByTeamIDResult" nillable="true" type="q11:ArrayOfTBL_TEAM_STRUCTURE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleMaster">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" minOccurs="0" name="GetRoleMasterResult" nillable="true" type="q12:ArrayOfTBL_ROLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" minOccurs="0" name="GetTeamMasterResult" nillable="true" type="q13:ArrayOfTBL_TEAM_STRUCTURE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnMappedUsersByRegionFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BusinessFunction" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnMappedUsersByRegionFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" minOccurs="0" name="GetUnMappedUsersByRegionFunctionResult" nillable="true" type="q14:ArrayOfTbl_Unmapped_Orders_By_Region_Function" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNTLoginBySAPName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SAPName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNTLoginBySAPNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" minOccurs="0" name="GetNTLoginBySAPNameResult" nillable="true" type="q15:ArrayOfVW_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInSApandBBZTRD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInSApandBBZTRDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserInSApandBBZTRDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmailIDByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmailIDByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEmailIDByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>