Cockpit_NextGenMVC/Cockpit_NextGenMVC/Service References/BAL_User_Mgmt/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BAL_Service_User_Mgmt/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BAL_Service_User_Mgmt/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BAL_Service_User_Mgmt/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserDetails_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q1:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserTeamDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTeamDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserTeamDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTeamDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserTeamDetails_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q2:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserRegionDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRegionDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserRegionDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRegionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserRegionDetails_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q3:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInActiveUserTeamDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInActiveUserTeamDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInActiveUserTeamDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInActiveUserTeamDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInActiveUserTeamDetails_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q4:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewUser" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterNewUser_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q5:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUserDetails_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q6:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsersByRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByRegion" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsersByRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByRegionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsersByRegion_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q7:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUnMappedUsersByRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnMappedUsersByRegion" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUnMappedUsersByRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnMappedUsersByRegionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUnMappedUsersByRegion_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q8:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_ActiveDeactiveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ActiveDeactiveUser" />
  </wsdl:message>
  <wsdl:message name="IService1_ActiveDeactiveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActiveDeactiveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActiveDeactiveUser_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q9:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCountryByRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryByRegion" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCountryByRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryByRegionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCountryByRegion_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q10:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_GetManagerByTeamID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManagerByTeamID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetManagerByTeamID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManagerByTeamIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetManagerByTeamID_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q11:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRoleMaster_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleMaster" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRoleMaster_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleMasterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRoleMaster_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q12:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeamMaster_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamMaster" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeamMaster_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamMasterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeamMaster_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q13:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUnMappedUsersByRegionFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnMappedUsersByRegionFunction" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUnMappedUsersByRegionFunction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnMappedUsersByRegionFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUnMappedUsersByRegionFunction_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q14:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNTLoginBySAPName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNTLoginBySAPName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNTLoginBySAPName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNTLoginBySAPNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNTLoginBySAPName_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q15:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUserInSApandBBZTRD_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInSApandBBZTRD" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUserInSApandBBZTRD_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInSApandBBZTRDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUserInSApandBBZTRD_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q16:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IService1_getEmailIDByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmailIDByName" />
  </wsdl:message>
  <wsdl:message name="IService1_getEmailIDByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmailIDByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getEmailIDByName_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/BAL_Service_User_Mgmt" name="detail" element="q17:ServiceException" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserDetails" message="tns:IService1_GetUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserDetailsResponse" message="tns:IService1_GetUserDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetUserDetailsServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_GetUserDetails_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTeamDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserTeamDetails" message="tns:IService1_GetUserTeamDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserTeamDetailsResponse" message="tns:IService1_GetUserTeamDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetUserTeamDetailsServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_GetUserTeamDetails_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRegionDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserRegionDetails" message="tns:IService1_GetUserRegionDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserRegionDetailsResponse" message="tns:IService1_GetUserRegionDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetUserRegionDetailsServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_GetUserRegionDetails_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInActiveUserTeamDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetInActiveUserTeamDetails" message="tns:IService1_GetInActiveUserTeamDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetInActiveUserTeamDetailsResponse" message="tns:IService1_GetInActiveUserTeamDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetInActiveUserTeamDetailsServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_GetInActiveUserTeamDetails_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterNewUser" message="tns:IService1_RegisterNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterNewUserResponse" message="tns:IService1_RegisterNewUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/RegisterNewUserServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_RegisterNewUser_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateUserDetails" message="tns:IService1_UpdateUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateUserDetailsResponse" message="tns:IService1_UpdateUserDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/UpdateUserDetailsServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_UpdateUserDetails_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUsersByRegion" message="tns:IService1_GetUsersByRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUsersByRegionResponse" message="tns:IService1_GetUsersByRegion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetUsersByRegionServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_GetUsersByRegion_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnMappedUsersByRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUnMappedUsersByRegion" message="tns:IService1_GetUnMappedUsersByRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUnMappedUsersByRegionResponse" message="tns:IService1_GetUnMappedUsersByRegion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetUnMappedUsersByRegionServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_GetUnMappedUsersByRegion_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActiveDeactiveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActiveDeactiveUser" message="tns:IService1_ActiveDeactiveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActiveDeactiveUserResponse" message="tns:IService1_ActiveDeactiveUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/ActiveDeactiveUserServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_ActiveDeactiveUser_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryByRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCountryByRegion" message="tns:IService1_GetCountryByRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCountryByRegionResponse" message="tns:IService1_GetCountryByRegion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetCountryByRegionServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_GetCountryByRegion_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetManagerByTeamID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetManagerByTeamID" message="tns:IService1_GetManagerByTeamID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetManagerByTeamIDResponse" message="tns:IService1_GetManagerByTeamID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetManagerByTeamIDServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_GetManagerByTeamID_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleMaster">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRoleMaster" message="tns:IService1_GetRoleMaster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRoleMasterResponse" message="tns:IService1_GetRoleMaster_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetRoleMasterServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_GetRoleMaster_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeamMaster">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeamMaster" message="tns:IService1_GetTeamMaster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeamMasterResponse" message="tns:IService1_GetTeamMaster_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetTeamMasterServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_GetTeamMaster_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnMappedUsersByRegionFunction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUnMappedUsersByRegionFunction" message="tns:IService1_GetUnMappedUsersByRegionFunction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUnMappedUsersByRegionFunctionResponse" message="tns:IService1_GetUnMappedUsersByRegionFunction_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetUnMappedUsersByRegionFunctionServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_GetUnMappedUsersByRegionFunction_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNTLoginBySAPName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNTLoginBySAPName" message="tns:IService1_GetNTLoginBySAPName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNTLoginBySAPNameResponse" message="tns:IService1_GetNTLoginBySAPName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetNTLoginBySAPNameServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_GetNTLoginBySAPName_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInSApandBBZTRD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateUserInSApandBBZTRD" message="tns:IService1_UpdateUserInSApandBBZTRD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateUserInSApandBBZTRDResponse" message="tns:IService1_UpdateUserInSApandBBZTRD_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/UpdateUserInSApandBBZTRDServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_UpdateUserInSApandBBZTRD_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEmailIDByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getEmailIDByName" message="tns:IService1_getEmailIDByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getEmailIDByNameResponse" message="tns:IService1_getEmailIDByName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/getEmailIDByNameServiceExceptionFault" name="ServiceExceptionFault" message="tns:IService1_getEmailIDByName_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserTeamDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserTeamDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserRegionDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserRegionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInActiveUserTeamDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetInActiveUserTeamDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewUser">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByRegion">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUsersByRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUnMappedUsersByRegion">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUnMappedUsersByRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ActiveDeactiveUser">
      <soap:operation soapAction="http://tempuri.org/IService1/ActiveDeactiveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByRegion">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCountryByRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetManagerByTeamID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetManagerByTeamID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRoleMaster">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRoleMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTeamMaster">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeamMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUnMappedUsersByRegionFunction">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUnMappedUsersByRegionFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNTLoginBySAPName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNTLoginBySAPName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInSApandBBZTRD">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateUserInSApandBBZTRD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEmailIDByName">
      <soap:operation soapAction="http://tempuri.org/IService1/getEmailIDByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BAL_Service_User_Mgmt/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>