Cockpit_NextGenMVC/Cockpit_NextGenMVC/Service References/BAL/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BAL_Service" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetUserDetailsResult" nillable="true" type="q1:ArrayOfVW_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTeamDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTeamDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetUserTeamDetailsResult" nillable="true" type="q2:ArrayOfVW_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRegionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRegionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetUserRegionDetailsResult" nillable="true" type="q3:ArrayOfVW_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInActiveUserTeamDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInActiveUserTeamDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetInActiveUserTeamDetailsResult" nillable="true" type="q4:ArrayOfVW_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oUser" nillable="true" type="q5:TBL_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterNewUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oUser" nillable="true" type="q6:TBL_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetUsersByRegionResult" nillable="true" type="q7:ArrayOfVW_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnMappedUsersByRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnMappedUsersByRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetUnMappedUsersByRegionResult" nillable="true" type="q8:ArrayOfTbl_Unmapped_Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveDeactiveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oUser" nillable="true" type="q9:TBL_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveDeactiveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveDeactiveUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryByRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryByRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetCountryByRegionResult" nillable="true" type="q10:ArrayOfTbl_Country_Sorg_Orig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerByTeamID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeamID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerByTeamIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetManagerByTeamIDResult" nillable="true" type="q11:ArrayOfTBL_TEAM_STRUCTURE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleMaster">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetRoleMasterResult" nillable="true" type="q12:ArrayOfTBL_ROLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetTeamMasterResult" nillable="true" type="q13:ArrayOfTBL_TEAM_STRUCTURE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnMappedUsersByRegionFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BusinessFunction" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnMappedUsersByRegionFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetUnMappedUsersByRegionFunctionResult" nillable="true" type="q14:ArrayOfTbl_Unmapped_Orders_By_Region_Function" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNTLoginBySAPName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SAPName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNTLoginBySAPNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetNTLoginBySAPNameResult" nillable="true" type="q15:ArrayOfVW_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInSApandBBZTRD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInSApandBBZTRDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserInSApandBBZTRDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmailIDByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmailIDByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEmailIDByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeaderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sales_Order" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeaderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetHeaderInfoResult" nillable="true" type="q16:ArrayOfTbl_Order_Header_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sales_Order" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetDeliveryInfoResult" nillable="true" type="q17:ArrayOfTbl_Order_Delivery_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartnerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sales_Order" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartnerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetPartnerInfoResult" nillable="true" type="q18:ArrayOfTbl_Order_Partner_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlockInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sales_Order" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlockInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetBlockInfoResult" nillable="true" type="q19:ArrayOfTbl_Order_Block_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sales_Order" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetLineItemsResult" nillable="true" type="q20:ArrayOfTbl_Order_Items" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrder_Ownership">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalesOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DefaultOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CurrentOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CurrentOwnerSAP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ownership_Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ownership_From" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Ownership_To" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Assigned_By" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Assigned_On" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrder_OwnershipResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetArchivesListResult" nillable="true" type="q21:ArrayOfTbl_Archives" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ge_DB_ArchivesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ge_DB_ArchivesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Ge_DB_ArchivesListResult" nillable="true" type="q22:ArrayOfVW_Orders_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Reports_Master">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Reports_MasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_Reports_MasterResult" nillable="true" type="q23:ArrayOfTbl_Review_Reports" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Business_Master">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Business_MasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_Business_MasterResult" nillable="true" type="q24:ArrayOfDim_Business_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Billing_Blocks_Master">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Billing_Blocks_MasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_Billing_Blocks_MasterResult" nillable="true" type="q25:ArrayOfDim_Billing_Blocks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DeliveryBlocks_Master">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DeliveryBlocks_MasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_DeliveryBlocks_MasterResult" nillable="true" type="q26:ArrayOfDim_Delivery_Blocks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Sales_Force_Master">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Sales_Force_MasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_Sales_Force_MasterResult" nillable="true" type="q27:ArrayOfDim_Sales_Force" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Customer_Master">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Customer_MasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_Customer_MasterResult" nillable="true" type="q28:ArrayOfDim_Customers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Translate_Comment_From_Google">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strComment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Translate_Comment_From_GoogleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Translate_Comment_From_GoogleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Translate_Comment_From_Microsoft">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strComment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Translate_Comment_From_MicrosoftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Translate_Comment_From_MicrosoftResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Translate_Mass_Comment_From_Microsoft">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCommentedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommentedOn" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Translate_Mass_Comment_From_MicrosoftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Translate_Mass_Comment_From_MicrosoftResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Global_Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sales_Order" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Global_OrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Search_Global_OrderResult" nillable="true" type="q29:ArrayOfTbl_Order_Search" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Archived_Orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderOwner" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Archived_OrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_Archived_OrdersResult" nillable="true" type="q30:ArrayOfVW_Orders_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Archived_Orders_Summary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sorg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Business" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Archived_Orders_SummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_Archived_Orders_SummaryResult" nillable="true" type="q31:ArrayOfTbl_Archival_Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SNIAllOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oSession_Filter" nillable="true" type="q32:Session_Filters" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UIView" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SNIAllOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_SNIAllOrdersResult" nillable="true" type="q33:ArrayOfVW_Orders_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SNICatagoryOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oSession_Filter" nillable="true" type="q34:Session_Filters" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UIView" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SNICatagoryOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_SNICatagoryOrdersResult" nillable="true" type="q35:ArrayOfVW_Orders_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SNICatagoryOrdersExport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oSession_Filter" nillable="true" type="q36:Session_Filters" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UIView" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SNICatagoryOrdersExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_SNICatagoryOrdersExportResult" nillable="true" type="q37:ArrayOfSNI_Excel_View" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterFocusChildOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_Number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterFocusChildOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetMasterFocusChildOrdersResult" nillable="true" type="q38:ArrayOfTbl_Order_comments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterFocusSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UIArea" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterFocusSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetMasterFocusSummaryResult" nillable="true" type="q39:Tbl_Backlog_Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSTR_Summary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="snapshotDateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="snapshotDateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSTR_SummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetSTR_SummaryResult" nillable="true" type="q40:ArrayOfTbl_STR_Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_CatagoryOrdersExport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oSession_Filter" nillable="true" type="q41:Session_Filters" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UIView" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_CatagoryOrdersExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_DB_CatagoryOrdersExportResult" nillable="true" type="q42:ArrayOfSNI_Excel_View" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_RawOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oSession_Filter" nillable="true" type="q43:Session_Filters" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UIView" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_RawOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_DB_RawOrdersResult" nillable="true" type="q44:ArrayOfVW_Orders_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_SpeedToRevenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SAPName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Order_Number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DateCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SnapshotDateFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SnapshotDateTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DBCutOffDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ERDFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ERDFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ERDTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SAPStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_SpeedToRevenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_DB_SpeedToRevenueResult" nillable="true" type="q45:ArrayOfVW_DB_Speed_To_Revenue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_Overdue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oSession_Filter" nillable="true" type="q46:Session_Filters" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UIView" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_OverdueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_DB_OverdueResult" nillable="true" type="q47:ArrayOfVW_Orders_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_Greater_90_days">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oSession_Filter" nillable="true" type="q48:Session_Filters" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UIView" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_Greater_90_daysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_DB_Greater_90_daysResult" nillable="true" type="q49:ArrayOfVW_Orders_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_Expected_Release_Passed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oSession_Filter" nillable="true" type="q50:Session_Filters" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UIView" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_Expected_Release_PassedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_DB_Expected_Release_PassedResult" nillable="true" type="q51:ArrayOfVW_Orders_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_Overdue_14_Days">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oSession_Filter" nillable="true" type="q52:Session_Filters" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UIView" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_Overdue_14_DaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_DB_Overdue_14_DaysResult" nillable="true" type="q53:ArrayOfVW_Orders_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Unblocked_All">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oSession_Filter" nillable="true" type="q54:Session_Filters" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UIView" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Unblocked_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_Unblocked_AllResult" nillable="true" type="q55:ArrayOfVW_Orders_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnblocked_Overdue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oSession_Filter" nillable="true" type="q56:Session_Filters" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UIView" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnblocked_OverdueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetUnblocked_OverdueResult" nillable="true" type="q57:ArrayOfVW_DB_Overdue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_UB_CatagoryOrdersExport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oSession_Filter" nillable="true" type="q58:Session_Filters" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UIView" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_UB_CatagoryOrdersExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_UB_CatagoryOrdersExportResult" nillable="true" type="q59:ArrayOfSNI_Excel_View" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDB_MasterFocusChildOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_Number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDB_MasterFocusChildOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetDB_MasterFocusChildOrdersResult" nillable="true" type="q60:ArrayOfTbl_Order_comments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlReprotsExcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commentedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ComemntDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cleardate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReasonCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Report" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReviewDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Signoff" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SignOffBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SignOffDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SnapshotDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlReprotsExcelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetControlReprotsExcelResult" nillable="true" type="q61:ArrayOfTbl_Order_comments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyControlReportsSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SAPVW_USERS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyControlReportsSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetMyControlReportsSummaryResult" nillable="true" type="q62:ArrayOfTbl_Daily_Control_Reports_Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamControlReportsSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SAPVW_USERS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamControlReportsSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetTeamControlReportsSummaryResult" nillable="true" type="q63:ArrayOfTbl_Daily_Control_Reports_Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlReportsDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SAPVW_USERS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pending" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sorg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReportID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CockpitUI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlReportsDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetControlReportsDetailsResult" nillable="true" type="q64:ArrayOfTBL_ORDER_COMMENT_VIEW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBCR_ClosedOrdersSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="From" type="xs:dateTime" />
        <xs:element minOccurs="0" name="To" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBCR_ClosedOrdersSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetBCR_ClosedOrdersSummaryResult" nillable="true" type="q65:ArrayOfVW_BCR_SignOff_Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBCR_ClosedOrdersDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Report" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommentedFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommentedTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SignOffFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SignOffTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommentedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SignOffBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SnapshotDateFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SnapshotDateTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBCR_ClosedOrdersDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetBCR_ClosedOrdersDetailsResult" nillable="true" type="q66:ArrayOfTbl_History_Comments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetMyFollowupsSummaryResult" nillable="true" type="q67:ArrayOfTbl_Followup_Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetMyFollowupsListResult" nillable="true" type="q68:ArrayOfTbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetTeamFollowupsListResult" nillable="true" type="q69:ArrayOfTbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetTeamFollowupsSummaryResult" nillable="true" type="q70:ArrayOfTbl_Followup_Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsPassedDueDateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsPassedDueDateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetMyFollowupsPassedDueDateListResult" nillable="true" type="q71:ArrayOfTbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsPassedDueDateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsPassedDueDateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetTeamFollowupsPassedDueDateListResult" nillable="true" type="q72:ArrayOfTbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsDueTodayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsDueTodayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetMyFollowupsDueTodayListResult" nillable="true" type="q73:ArrayOfTbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsDueTodayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsDueTodayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetTeamFollowupsDueTodayListResult" nillable="true" type="q74:ArrayOfTbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsReasignedList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsReasignedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetMyFollowupsReasignedListResult" nillable="true" type="q75:ArrayOfTbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsReasignedList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsReasignedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetTeamFollowupsReasignedListResult" nillable="true" type="q76:ArrayOfTbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsSystemGeneratedList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsSystemGeneratedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetMyFollowupsSystemGeneratedListResult" nillable="true" type="q77:ArrayOfTbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsSystemGeneratedList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsSystemGeneratedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetTeamFollowupsSystemGeneratedListResult" nillable="true" type="q78:ArrayOfTbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollowupDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FollowupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollowupDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetFollowupDetailsResult" nillable="true" type="q79:ArrayOfTbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollowupHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FollowupID" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollowupHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetFollowupHistoryResult" nillable="true" type="q80:ArrayOfTbl_Followups_History" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFollowup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="oFollowup" nillable="true" type="q81:Tbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFollowupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateFollowupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFollowup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="SalesOrder" type="xs:double" />
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Backlogstatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Modified_On" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Re_assign" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFollowupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFollowupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReAssignFollowup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="followupID" type="xs:int" />
        <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReAssignFollowupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReAssignFollowupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollowupSummaryDeatilsBySalesOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalesOrder" type="xs:double" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollowupSummaryDeatilsBySalesOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetFollowupSummaryDeatilsBySalesOrderResult" nillable="true" type="q82:ArrayOfTbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyOSBRNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SAPVW_USERS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyOSBRNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetMyOSBRNotificationsResult" nillable="true" type="q83:ArrayOfTbl_OSBR_NOTIFICATIONS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamOSBRNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamOSBRNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetTeamOSBRNotificationsResult" nillable="true" type="q84:ArrayOfTbl_OSBR_NOTIFICATIONS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_OrderComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="objComment" nillable="true" type="q85:Tbl_Order_comments" />
        <xs:element minOccurs="0" name="ActionUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_OrderCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_OrderCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_OrderSignOff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="objComment" nillable="true" type="q86:Tbl_Order_comments" />
        <xs:element minOccurs="0" name="ActionUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_OrderSignOffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_OrderSignOffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMultipleOrderComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="lstComments" nillable="true" type="q87:ArrayOfTbl_Order_comments" />
        <xs:element minOccurs="0" name="ActionUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMultipleOrderCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMultipleOrderCommentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMultipleOrderSignOffs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="lstComments" nillable="true" type="q88:ArrayOfTbl_Order_comments" />
        <xs:element minOccurs="0" name="ActionUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMultipleOrderSignOffsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMultipleOrderSignOffsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SNI_Release_Target_Projection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fromdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Todate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SNI_Release_Target_ProjectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="SNI_Release_Target_ProjectionResult" nillable="true" type="q89:ArrayOfTbl_SNI_Release_Projection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DB_Release_Target_Projection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fromdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Todate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DB_Release_Target_ProjectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="DB_Release_Target_ProjectionResult" nillable="true" type="q90:ArrayOfTbl_SNI_Release_Projection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WW_Process_Summary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Bucket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WW_Process_SummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="WW_Process_SummaryResult" nillable="true" type="q91:ArrayOfTbl_WW_Blocked_Orders_Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReassignedOrdersOFUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReassignedOrdersOFUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetReassignedOrdersOFUserResult" nillable="true" type="q92:ArrayOfTbl_Order_Action_Owner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReAssignUserOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReAssignUserOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReAssignUserOrdersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>