Cockpit_NextGenMVC/Cockpit_NextGenMVC/Service References/BAL/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BAL_Service" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetUserDetailsResult" nillable="true" type="q3:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTeamDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTeamDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetUserTeamDetailsResult" nillable="true" type="q4:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetArchivesListResult" nillable="true" type="q5:ArrayOfTbl_Archives" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ge_DB_ArchivesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ge_DB_ArchivesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Ge_DB_ArchivesListResult" nillable="true" type="q6:ArrayOfVW_DB_All_Orders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterFocusSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="objCurrUser" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterFocusSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetMasterFocusSummaryResult" nillable="true" type="q8:Tbl_Backlog_Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSTR_Summary_SnapshotDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSTR_Summary_SnapshotDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSTR_Summary_SnapshotDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SNIAllOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrimaryProduct" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sorg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="closureStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgingBucket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerPONumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoldToParty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sAP_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="finance_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sold_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ship_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BBType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaTo" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeTo" type="xs:int" />
        <xs:element minOccurs="0" name="Order_Number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActionOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommentDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DNBStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SalesForce" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SNIAllOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_SNIAllOrdersResult" nillable="true" type="q9:ArrayOfVW_SNI_Orders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SNIMasterFocusOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrimaryProduct" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sorg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="closureStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgingBucket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerPONumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoldToParty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sAP_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="finance_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sold_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ship_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BBType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaTo" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeTo" type="xs:int" />
        <xs:element minOccurs="0" name="Order_Number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActionOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommentDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DNBStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SalesForce" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SNIMasterFocusOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_SNIMasterFocusOrdersResult" nillable="true" type="q10:ArrayOfVW_SNI_Orders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_RawOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrimaryProduct" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sorg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="closureStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgingBucket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerPONumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoldToParty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sAP_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="finance_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sold_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ship_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BBType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaTo" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeTo" type="xs:int" />
        <xs:element minOccurs="0" name="Order_Number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActionOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommentDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DNBStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SalesForce" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BC_Prior_Cut_Off" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OF_Prior_Cut_Off" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_RawOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_DB_RawOrdersResult" nillable="true" type="q11:ArrayOfVW_DB_All_Orders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_AllFocusOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrimaryProduct" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sorg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="closureStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgingBucket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerPONumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoldToParty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sAP_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="finance_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sold_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ship_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BBType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaTo" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeTo" type="xs:int" />
        <xs:element minOccurs="0" name="Order_Number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActionOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommentDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DNBStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SalesForce" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BC_Prior_Cut_Off" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OF_Prior_Cut_Off" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_AllFocusOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_DB_AllFocusOrdersResult" nillable="true" type="q12:ArrayOfVW_DB_AllFocus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_Overdue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrimaryProduct" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sorg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="closureStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgingBucket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerPONumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoldToParty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sAP_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="finance_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sold_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ship_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BBType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaTo" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeTo" type="xs:int" />
        <xs:element minOccurs="0" name="Order_Number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActionOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommentDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DNBStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SalesForce" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BC_Prior_Cut_Off" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OF_Prior_Cut_Off" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_OverdueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_DB_OverdueResult" nillable="true" type="q13:ArrayOfVW_DB_All_Orders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_Overdue_14_Days">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrimaryProduct" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sorg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="closureStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgingBucket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerPONumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoldToParty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sAP_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="finance_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sold_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ship_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BBType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaTo" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeTo" type="xs:int" />
        <xs:element minOccurs="0" name="Order_Number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActionOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommentDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DNBStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SalesForce" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BC_Prior_Cut_Off" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OF_Prior_Cut_Off" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_Overdue_14_DaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_DB_Overdue_14_DaysResult" nillable="true" type="q14:ArrayOfVW_DB_All_Orders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_CRDD_Less2Days">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrimaryProduct" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sorg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="closureStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgingBucket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerPONumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoldToParty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sAP_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="finance_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sold_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ship_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BBType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaTo" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeTo" type="xs:int" />
        <xs:element minOccurs="0" name="Order_Number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActionOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommentDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DNBStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SalesForce" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BC_Prior_Cut_Off" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OF_Prior_Cut_Off" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DB_CRDD_Less2DaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_DB_CRDD_Less2DaysResult" nillable="true" type="q15:ArrayOfVW_DB_All_Orders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Unblocked_All">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrimaryProduct" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sorg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="closureStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgingBucket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerPONumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoldToParty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sAP_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="finance_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sold_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ship_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BBType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaTo" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeTo" type="xs:int" />
        <xs:element minOccurs="0" name="Order_Number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActionOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommentDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DNBStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SalesForce" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BC_Prior_Cut_Off" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OF_Prior_Cut_Off" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Unblocked_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_Unblocked_AllResult" nillable="true" type="q16:ArrayOfVW_DB_All_Orders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_NoDB_CRDD_Less2Days">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrimaryProduct" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sorg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="closureStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgingBucket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerPONumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoldToParty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sAP_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="finance_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sold_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ship_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BBType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaTo" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeTo" type="xs:int" />
        <xs:element minOccurs="0" name="Order_Number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActionOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommentDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DNBStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SalesForce" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BC_Prior_Cut_Off" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OF_Prior_Cut_Off" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_NoDB_CRDD_Less2DaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="Get_NoDB_CRDD_Less2DaysResult" nillable="true" type="q17:ArrayOfVW_DB_All_Orders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnblocked_Overdue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrimaryProduct" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sorg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="closureStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AgingBucket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eRDTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerPONumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoldToParty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sAP_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="finance_PL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sold_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ship_To_Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BBType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ClosureDaysDeltaTo" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeFrom" type="xs:int" />
        <xs:element minOccurs="0" name="ShipmentAgeTo" type="xs:int" />
        <xs:element minOccurs="0" name="Order_Number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActionOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommentDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DNBStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SalesForce" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReportCatagory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BC_Prior_Cut_Off" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OF_Prior_Cut_Off" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnblocked_OverdueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetUnblocked_OverdueResult" nillable="true" type="q18:ArrayOfVW_DB_All_Orders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterFocusChildOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_Number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterFocusChildOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetMasterFocusChildOrdersResult" nillable="true" type="q19:ArrayOfTbl_SNI_Comments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDB_MasterFocusChildOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_Number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDB_MasterFocusChildOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetDB_MasterFocusChildOrdersResult" nillable="true" type="q20:ArrayOfTbl_DB_Comments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMFOrderComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="objComment" nillable="true" type="q21:Tbl_SNI_Comments" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="objCurrUser" nillable="true" type="q22:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMFOrderCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMFOrderCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_DB_MFOrderComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="objComment" nillable="true" type="q23:Tbl_DB_Comments" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="objCurrUser" nillable="true" type="q24:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_DB_MFOrderCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_DB_MFOrderCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMultipleMFOrderComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="lstComments" nillable="true" type="q25:ArrayOfTbl_SNI_Comments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMultipleMFOrderCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMultipleMFOrderCommentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Translate_Comment_From_Google">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strComment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Translate_Comment_From_GoogleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Translate_Comment_From_GoogleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Translate_Comment_From_Microsoft">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strComment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Translate_Comment_From_MicrosoftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Translate_Comment_From_MicrosoftResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Translate_Mass_Comment_From_Microsoft">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCommentedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CommentedOn" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Translate_Mass_Comment_From_MicrosoftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Translate_Mass_Comment_From_MicrosoftResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyControlReportsSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SAPUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyControlReportsSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetMyControlReportsSummaryResult" nillable="true" type="q26:ArrayOfTbl_My_BCR_Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamControlReportsSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SAPUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamControlReportsSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetTeamControlReportsSummaryResult" nillable="true" type="q27:ArrayOfTbl_My_BCR_Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlReportsDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SAPUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pending" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WeekID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sorg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReportID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlReportsDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetControlReportsDetailsResult" nillable="true" type="q28:ArrayOfVw_Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetMyFollowupsSummaryResult" nillable="true" type="q29:ArrayOfTbl_Followup_Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFollowupsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetMyFollowupsListResult" nillable="true" type="q30:ArrayOfTbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetTeamFollowupsListResult" nillable="true" type="q31:ArrayOfTbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Team_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamFollowupsSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetTeamFollowupsSummaryResult" nillable="true" type="q32:ArrayOfTbl_Followup_Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollowupDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NtLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FollowupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollowupDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BAL_Service" minOccurs="0" name="GetFollowupDetailsResult" nillable="true" type="q33:ArrayOfTbl_Followups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>