Cockpit_NextGenMVC/Controllers/Service References/BAL/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BAL_Service" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserTeamDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTeamDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserTeamDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTeamDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetArchivesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArchivesList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetArchivesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArchivesListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Ge_DB_ArchivesList_InputMessage">
    <wsdl:part name="parameters" element="tns:Ge_DB_ArchivesList" />
  </wsdl:message>
  <wsdl:message name="IService1_Ge_DB_ArchivesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ge_DB_ArchivesListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMasterFocusSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterFocusSummary" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMasterFocusSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterFocusSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSTR_Summary_SnapshotDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSTR_Summary_SnapshotDate" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSTR_Summary_SnapshotDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSTR_Summary_SnapshotDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_SNIAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_SNIAllOrders" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_SNIAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_SNIAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_SNIMasterFocusOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_SNIMasterFocusOrders" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_SNIMasterFocusOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_SNIMasterFocusOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_DB_RawOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_DB_RawOrders" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_DB_RawOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_DB_RawOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_DB_AllFocusOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_DB_AllFocusOrders" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_DB_AllFocusOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_DB_AllFocusOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_DB_Overdue_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_DB_Overdue" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_DB_Overdue_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_DB_OverdueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_DB_Overdue_14_Days_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_DB_Overdue_14_Days" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_DB_Overdue_14_Days_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_DB_Overdue_14_DaysResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_DB_CRDD_Less2Days_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_DB_CRDD_Less2Days" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_DB_CRDD_Less2Days_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_DB_CRDD_Less2DaysResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Unblocked_All_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Unblocked_All" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Unblocked_All_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Unblocked_AllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_NoDB_CRDD_Less2Days_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_NoDB_CRDD_Less2Days" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_NoDB_CRDD_Less2Days_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_NoDB_CRDD_Less2DaysResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUnblocked_Overdue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnblocked_Overdue" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUnblocked_Overdue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnblocked_OverdueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMasterFocusChildOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterFocusChildOrders" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMasterFocusChildOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterFocusChildOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDB_MasterFocusChildOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDB_MasterFocusChildOrders" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDB_MasterFocusChildOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDB_MasterFocusChildOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMFOrderComment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMFOrderComment" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMFOrderComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMFOrderCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Add_DB_MFOrderComment_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_DB_MFOrderComment" />
  </wsdl:message>
  <wsdl:message name="IService1_Add_DB_MFOrderComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_DB_MFOrderCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMultipleMFOrderComments_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMultipleMFOrderComments" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMultipleMFOrderComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMultipleMFOrderCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Translate_Comment_From_Google_InputMessage">
    <wsdl:part name="parameters" element="tns:Translate_Comment_From_Google" />
  </wsdl:message>
  <wsdl:message name="IService1_Translate_Comment_From_Google_OutputMessage">
    <wsdl:part name="parameters" element="tns:Translate_Comment_From_GoogleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Translate_Comment_From_Microsoft_InputMessage">
    <wsdl:part name="parameters" element="tns:Translate_Comment_From_Microsoft" />
  </wsdl:message>
  <wsdl:message name="IService1_Translate_Comment_From_Microsoft_OutputMessage">
    <wsdl:part name="parameters" element="tns:Translate_Comment_From_MicrosoftResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Translate_Mass_Comment_From_Microsoft_InputMessage">
    <wsdl:part name="parameters" element="tns:Translate_Mass_Comment_From_Microsoft" />
  </wsdl:message>
  <wsdl:message name="IService1_Translate_Mass_Comment_From_Microsoft_OutputMessage">
    <wsdl:part name="parameters" element="tns:Translate_Mass_Comment_From_MicrosoftResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMyControlReportsSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyControlReportsSummary" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMyControlReportsSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyControlReportsSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeamControlReportsSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamControlReportsSummary" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeamControlReportsSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamControlReportsSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetControlReportsDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetControlReportsDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetControlReportsDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetControlReportsDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMyFollowupsSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyFollowupsSummary" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMyFollowupsSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyFollowupsSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMyFollowupsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyFollowupsList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMyFollowupsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyFollowupsListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeamFollowupsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamFollowupsList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeamFollowupsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamFollowupsListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeamFollowupsSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamFollowupsSummary" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeamFollowupsSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamFollowupsSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFollowupDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFollowupDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFollowupDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFollowupDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserDetails" message="tns:IService1_GetUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserDetailsResponse" message="tns:IService1_GetUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTeamDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserTeamDetails" message="tns:IService1_GetUserTeamDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserTeamDetailsResponse" message="tns:IService1_GetUserTeamDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArchivesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetArchivesList" message="tns:IService1_GetArchivesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetArchivesListResponse" message="tns:IService1_GetArchivesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ge_DB_ArchivesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Ge_DB_ArchivesList" message="tns:IService1_Ge_DB_ArchivesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Ge_DB_ArchivesListResponse" message="tns:IService1_Ge_DB_ArchivesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMasterFocusSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMasterFocusSummary" message="tns:IService1_GetMasterFocusSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMasterFocusSummaryResponse" message="tns:IService1_GetMasterFocusSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSTR_Summary_SnapshotDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSTR_Summary_SnapshotDate" message="tns:IService1_GetSTR_Summary_SnapshotDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSTR_Summary_SnapshotDateResponse" message="tns:IService1_GetSTR_Summary_SnapshotDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_SNIAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_SNIAllOrders" message="tns:IService1_Get_SNIAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_SNIAllOrdersResponse" message="tns:IService1_Get_SNIAllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_SNIMasterFocusOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_SNIMasterFocusOrders" message="tns:IService1_Get_SNIMasterFocusOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_SNIMasterFocusOrdersResponse" message="tns:IService1_Get_SNIMasterFocusOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_DB_RawOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_DB_RawOrders" message="tns:IService1_Get_DB_RawOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_DB_RawOrdersResponse" message="tns:IService1_Get_DB_RawOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_DB_AllFocusOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_DB_AllFocusOrders" message="tns:IService1_Get_DB_AllFocusOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_DB_AllFocusOrdersResponse" message="tns:IService1_Get_DB_AllFocusOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_DB_Overdue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_DB_Overdue" message="tns:IService1_Get_DB_Overdue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_DB_OverdueResponse" message="tns:IService1_Get_DB_Overdue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_DB_Overdue_14_Days">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_DB_Overdue_14_Days" message="tns:IService1_Get_DB_Overdue_14_Days_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_DB_Overdue_14_DaysResponse" message="tns:IService1_Get_DB_Overdue_14_Days_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_DB_CRDD_Less2Days">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_DB_CRDD_Less2Days" message="tns:IService1_Get_DB_CRDD_Less2Days_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_DB_CRDD_Less2DaysResponse" message="tns:IService1_Get_DB_CRDD_Less2Days_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Unblocked_All">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_Unblocked_All" message="tns:IService1_Get_Unblocked_All_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_Unblocked_AllResponse" message="tns:IService1_Get_Unblocked_All_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_NoDB_CRDD_Less2Days">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_NoDB_CRDD_Less2Days" message="tns:IService1_Get_NoDB_CRDD_Less2Days_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_NoDB_CRDD_Less2DaysResponse" message="tns:IService1_Get_NoDB_CRDD_Less2Days_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnblocked_Overdue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUnblocked_Overdue" message="tns:IService1_GetUnblocked_Overdue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUnblocked_OverdueResponse" message="tns:IService1_GetUnblocked_Overdue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMasterFocusChildOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMasterFocusChildOrders" message="tns:IService1_GetMasterFocusChildOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMasterFocusChildOrdersResponse" message="tns:IService1_GetMasterFocusChildOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDB_MasterFocusChildOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDB_MasterFocusChildOrders" message="tns:IService1_GetDB_MasterFocusChildOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDB_MasterFocusChildOrdersResponse" message="tns:IService1_GetDB_MasterFocusChildOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMFOrderComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMFOrderComment" message="tns:IService1_AddMFOrderComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddMFOrderCommentResponse" message="tns:IService1_AddMFOrderComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_DB_MFOrderComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Add_DB_MFOrderComment" message="tns:IService1_Add_DB_MFOrderComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Add_DB_MFOrderCommentResponse" message="tns:IService1_Add_DB_MFOrderComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMultipleMFOrderComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMultipleMFOrderComments" message="tns:IService1_AddMultipleMFOrderComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddMultipleMFOrderCommentsResponse" message="tns:IService1_AddMultipleMFOrderComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Translate_Comment_From_Google">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Translate_Comment_From_Google" message="tns:IService1_Translate_Comment_From_Google_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Translate_Comment_From_GoogleResponse" message="tns:IService1_Translate_Comment_From_Google_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Translate_Comment_From_Microsoft">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Translate_Comment_From_Microsoft" message="tns:IService1_Translate_Comment_From_Microsoft_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Translate_Comment_From_MicrosoftResponse" message="tns:IService1_Translate_Comment_From_Microsoft_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Translate_Mass_Comment_From_Microsoft">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Translate_Mass_Comment_From_Microsoft" message="tns:IService1_Translate_Mass_Comment_From_Microsoft_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Translate_Mass_Comment_From_MicrosoftResponse" message="tns:IService1_Translate_Mass_Comment_From_Microsoft_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyControlReportsSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMyControlReportsSummary" message="tns:IService1_GetMyControlReportsSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMyControlReportsSummaryResponse" message="tns:IService1_GetMyControlReportsSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeamControlReportsSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeamControlReportsSummary" message="tns:IService1_GetTeamControlReportsSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeamControlReportsSummaryResponse" message="tns:IService1_GetTeamControlReportsSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetControlReportsDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetControlReportsDetails" message="tns:IService1_GetControlReportsDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetControlReportsDetailsResponse" message="tns:IService1_GetControlReportsDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyFollowupsSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMyFollowupsSummary" message="tns:IService1_GetMyFollowupsSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMyFollowupsSummaryResponse" message="tns:IService1_GetMyFollowupsSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyFollowupsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMyFollowupsList" message="tns:IService1_GetMyFollowupsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMyFollowupsListResponse" message="tns:IService1_GetMyFollowupsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeamFollowupsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeamFollowupsList" message="tns:IService1_GetTeamFollowupsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeamFollowupsListResponse" message="tns:IService1_GetTeamFollowupsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeamFollowupsSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeamFollowupsSummary" message="tns:IService1_GetTeamFollowupsSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeamFollowupsSummaryResponse" message="tns:IService1_GetTeamFollowupsSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFollowupDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFollowupDetails" message="tns:IService1_GetFollowupDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFollowupDetailsResponse" message="tns:IService1_GetFollowupDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTeamDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserTeamDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchivesList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetArchivesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ge_DB_ArchivesList">
      <soap:operation soapAction="http://tempuri.org/IService1/Ge_DB_ArchivesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMasterFocusSummary">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMasterFocusSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSTR_Summary_SnapshotDate">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSTR_Summary_SnapshotDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SNIAllOrders">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_SNIAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SNIMasterFocusOrders">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_SNIMasterFocusOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_DB_RawOrders">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_DB_RawOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_DB_AllFocusOrders">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_DB_AllFocusOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_DB_Overdue">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_DB_Overdue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_DB_Overdue_14_Days">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_DB_Overdue_14_Days" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_DB_CRDD_Less2Days">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_DB_CRDD_Less2Days" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Unblocked_All">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_Unblocked_All" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_NoDB_CRDD_Less2Days">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_NoDB_CRDD_Less2Days" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnblocked_Overdue">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUnblocked_Overdue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMasterFocusChildOrders">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMasterFocusChildOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDB_MasterFocusChildOrders">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDB_MasterFocusChildOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMFOrderComment">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMFOrderComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_DB_MFOrderComment">
      <soap:operation soapAction="http://tempuri.org/IService1/Add_DB_MFOrderComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMultipleMFOrderComments">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMultipleMFOrderComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Translate_Comment_From_Google">
      <soap:operation soapAction="http://tempuri.org/IService1/Translate_Comment_From_Google" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Translate_Comment_From_Microsoft">
      <soap:operation soapAction="http://tempuri.org/IService1/Translate_Comment_From_Microsoft" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Translate_Mass_Comment_From_Microsoft">
      <soap:operation soapAction="http://tempuri.org/IService1/Translate_Mass_Comment_From_Microsoft" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyControlReportsSummary">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMyControlReportsSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamControlReportsSummary">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeamControlReportsSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetControlReportsDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetControlReportsDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyFollowupsSummary">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMyFollowupsSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyFollowupsList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMyFollowupsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamFollowupsList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeamFollowupsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamFollowupsSummary">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeamFollowupsSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFollowupDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFollowupDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding" binding="tns:BasicHttpBinding">
      <soap:address location="http://localhost:8732/Design_Time_Addresses/BAL_Service/Service1/mex" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>